
// criando mixin
@mixin borda-arredondada($raio:0.3em){
    -webkit-border-radius: $raio;
    border-radius: $raio;
}



%image-replacement {
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
    
    
}
//isso aqui é um placeholder

%sombra-padrao {
    box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}

%ajuste-de-altura{
    width: auto;
}

%contato-display-block{
    display: block;
}

////////////////////////////// isso é uma função 
@function multiplica-fonte($multiplicador){
    @return round($multiplicador * $tamanho-da-fonte-padrao);
}