//variaveis do sass
$cor-padrao: darken(#c24e4b,30%);
$cor-seccundaria:saturate(#1e2c35,30);
$cor-branca:#fff;
//Sintaxe para concatenar valor em uma variavel.

$mq-mobile:"(max-width:980px)";

$tamanho-da-fonte-padrao: 16px;