/** Footer **/
footer {
    display: block;
    position: relative;
   
    &::after {
      content: "";
      background: url(../imagens/fundo-rodape.png);
      opacity: .02;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
    &::before {
      content: "";
      background:$cor-seccundaria;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
    .container {
      padding-top: multiplica-fonte(3);//essa função multiplica EM e converte em px
      height: multiplica-fonte(6.5);
      position: relative;
      img {
        width: 250px;
      }
    }
    a {
      color: $cor-branca;
      text-decoration: none;
    }
  }

    
  .menu-rodape{
    top: 1em;
    right: 0;
    ul{
      li {
        display: inline-block;
        margin-left: 2em;
      }
    }
    
  }
  
  .menu-rodape,
  .social {
    position: absolute;
  }
 
  
  .menu-rodape li,
  .social li {
    display: inline;
  }
  
 
  @include all-social-media-sprites;
  /*Icones sociais*/
  .social {
    bottom: 0;
    right: 0;
    li {
      float: left;
      a {
        display: block;
        width: 55px;
        height: 55px;
        @extend %image-replacement;
        margin-left: 1em;

      }
    

    }
    .social-media-instagram48{
      background-position: 0 -50px;
    
    }
      
    .social-media-facebook{
      background-position: 0 5px;
      
    }
    .social-media-twitter{
      background-position: 0 -103;
      
    }
    a {
      background-position: top;
      background-size: 50px 50px;
    
    }
  }
 

  

  

